@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<div class="row">
    <div class="medium-offset-3 medium-6 end columns">
        <h2>I'm gonna change my password</h2>
    </div>
</div>

<form asp-controller="Manage" asp-action="ChangePassword" method="post" class="form-horizontal">

    <div class="row">
        <div class="medium-offset-3 medium-6 end columns">
            <div asp-validation-summary="All"></div>
        </div>
    </div>

    <div class="row">
        <div class="medium-offset-3 medium-6 end columns">
            <label asp-for="OldPassword"></label>
            <input asp-for="OldPassword" placeholder="Enter old password" />
            <span asp-validation-for="OldPassword"></span>
        </div>
    </div>

    <div class="row">
        <div class="medium-offset-3 medium-6 end columns">
            <label asp-for="NewPassword"></label>
            <input asp-for="NewPassword" placeholder="Enter new password" />
            <span asp-validation-for="NewPassword"></span>
        </div>
    </div>

    <div class="row">
        <div class="medium-offset-3 medium-6 end columns">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" placeholder="Enter confirm password" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="medium-offset-3 medium-6 end columns">
            <button type="submit" class="button">Change password</button>
        </div>
    </div>

</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
